In [16]:
import pandas as pd
import h3

In [17]:
df = pd.read_csv('../datasets/uber_super_cleaned.csv')

In [3]:
df.describe()

,pick_lon,pick_lat,drop_lon,drop_lat,passenger,fare,year,quarter,month,dayofmonth,dayofweek,hour,distance,duration
count,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000,192677.000000
mean,-73.975595,40.750896,-73.974653,40.751184,1.689143,11.353084,2011.747552,2.429730,6.288125,15.720314,2.991826,11.812692,7120.105943,524.230603
std,0.036626,0.027580,0.036422,0.031361,1.304794,9.738416,1.863253,1.117112,3.441241,8.687029,1.903228,5.844275,7882.543176,549.840784
min,-75.419276,40.002405,-75.458979,39.653763,1.000000,0.010000,2008.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.100000,-1.000000
25%,-73.992277,40.736495,-73.991600,40.735371,1.000000,6.000000,2010.000000,1.000000,3.000000,8.000000,1.000000,7.000000,550.500000,49.300000
50%,-73.982140,40.753311,-73.980591,40.753761,1.000000,8.500000,2012.000000,2.000000,6.000000,16.000000,3.000000,12.000000,2497.360000,220.700000
75%,-73.968520,40.767541,-73.965619,40.768325,2.000000,12.500000,2013.000000,3.000000,9.000000,23.000000,5.000000,17.000000,13932.940000,1053.400000
max,-73.137393,41.366138,-73.101445,41.500000,6.000000,499.000000,2015.000000,4.000000,12.000000,31.000000,6.000000,23.000000,103295.060000,4775.900000

In [5]:
h3_dist = []
for i in range(len(df)):
    h3_dist.append(h3.point_dist((df.pick_lat[i],df.pick_lon[i]),(df.drop_lat[i],df.drop_lon[i]), unit='m'))
df['h3_dist'] = h3_dist

In [6]:
df.to_csv('../datasets/uber_super_cleaned.csv')